body {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 0;
  background-color: #f5f5f7;
}

@font-face {
  font-family: "VarinoNormal";
  src: local("VarinoNormal"), url(./Fonts/VarinoNormal.otf) format("opentype");
}

@font-face {
  font-family: "Arvo";
  src: local("ArvoRegular"), url(./Fonts/ArvoRegular.ttf) format("truetype");
}

@font-face {
  font-family: "Linlergrey";
  src: local("LinlergreyRegular"),
    url(./Fonts/LinlegreyRegular.ttf) format("truetype");
}

.NavDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  clip-path: polygon(0 0, 0% 100%, 100% 75%, 100% 0%);
  background: #1d1d1f;
}

.NaxHeadText {
  font-family: "VarinoNormal";
  margin-bottom: 0%;
  color: #fdfdf7;
  text-decoration: underline;
  text-underline-position: below;
}

.ShortInfo {
  margin: auto;
  padding: 0 15px 0 15px;
  font-family: "Candara Light";
  text-align: center;
  background: white;
  color: #585858;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
